<a href="https://colab.research.google.com/github/Omkar-Tech24/House-Price-Prediction-ML/blob/main/house_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

# Creating a house price dataset
data = {
    "area": [800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700],
    "bedrooms": [1, 2, 2, 2, 3, 3, 3, 4, 4, 4],
    "bathrooms": [1, 1, 2, 2, 2, 3, 3, 3, 4, 4],
    "price": [4000000, 4500000, 5000000, 5500000, 6000000,
              6500000, 7000000, 7500000, 8000000, 8500000]
}

df = pd.DataFrame(data)
df

   area  bedrooms  bathrooms    price
0   800         1          1  4000000
1   900         2          1  4500000
2  1000         2          2  5000000
3  1100         2          2  5500000
4  1200         3          2  6000000
5  1300         3          3  6500000
6  1400         3          3  7000000
7  1500         4          3  7500000
8  1600         4          4  8000000
9  1700         4          4  8500000